@import "./theme.css";

* {
	border: none;
	margin: 0;
	border-radius: 10px;
	font-family: "NotoSansM Nerd Font", "Noto Sans CJK SC", monospace;
	color: @text;
	font-size: 16px;
        font-weight: 600;
}

window#waybar {
	background: transparent;
}

#custom-launcher {
	padding-left: 12px;
	padding-right: 17px;
	padding-top: 0;
	padding-bottom: 0;
	border: 2px transparent solid;
	background: rgba(0, 0, 0, 0.4);
}

#custom-launcher:hover {
	border-color: skyblue;
}

#workspaces {
	padding: 0;
	background: rgba(0, 0, 0, 0.4);
}

#workspaces button {
	padding: 0 13px;
	background: transparent;
	border: 2px transparent solid;
}

#workspaces button:hover {
	background: transparent;
    	box-shadow: none;
    	text-shadow: none;
	transition: none;
}

#workspaces button.active {
	border-color: @text;
}

#custom-cava {
	padding: 0 15px;
	background: rgba(0, 0, 0, 0.4);
}

#custom-language {
	padding: 5px 15px;
	background: rgba(0, 0, 0, 0.4);
}

#custom-language.pinyin {
	font-size: 15px;
	padding-left: 18px;
	padding-right: 17px;
}

#memory {
	padding: 5px 15px;
	background: rgba(0, 0, 0, 0.4);
}

#cpu {
	padding: 5px 15px;
	background: rgba(0, 0, 0, 0.4);
}

#temperature {
	padding: 5px 15px;
	background: rgba(0, 0, 0, 0.4);
}

#pulseaudio {
	padding: 5px 15px;
	background: rgba(0, 0, 0, 0.4);
}

#clock {
	background: rgba(0, 0, 0, 0.4);
	padding: 5px 15px;
}
